[submodule "nvim/.config/nvim/vim-snippets"]
	path = nvim/.config/nvim/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "alacritty/.alacritty-colorscheme"]
	path = alacritty/.alacritty-colorscheme
	url = https://github.com/eendroroy/alacritty-theme.git
